<!DOCTYPE html>
<html>
<head>
  	<title>CIF</title>
 	<style>
	table {
		font-family: 'Source Sans Pro', sans-serif;
		border: 1px solid thin #c1c1c1;
		background-color: #EEEEEE;
		width: 100%;
		text-align: left;
		table-layout:fixed;
		border-collapse: collapse;
	}

    td,
	th {
		text-transform: capitalize;
		text-align: left;
		vertical-align: center;
		text-overflow: ellipsis;
		border: 2px solid thin #c1c1c1;
		word-wrap: break-word;
		padding: 3px 3px;
		font-size: 13px;
	}

	table tr:nth-child(even) {
		background: #e5e5e5;
	}

	.thead {
		font-size: 15px;
		font-weight: bold;
		color: #FFFFFF;
		border-left: 1px solid thin #a3a3a3;
		background: #5585b9;
	}

	hr {
		border-top: 1px dotted black;
	}

	.no-break {
        page-break-inside: avoid !important;
    } 

	table,tr,td,div {
		page-break-inside: auto !important;
	}

	th {
		border-right: 1px solid #c1c1c1 !important;
	}
  </style>
</head>
<body>
	<header style='width:100%;text-align: center;'>
		<h1>Candidate Information Form</h1>
	</header>
	<br/>
	<br/>
	<div style='border: 1px solid #c1c1c1;'>{{{html}}}</div>
	<footer class='no-break'>
		<p>&nbsp;</p>
		<p><strong>Declaration:</strong></p>
		<p><span style="font-weight: 400;">I hereby authorize the employer and / or its representatives to independently verify the information provided above and in my resume, and to conduct enquiries as&nbsp; the employer deems fit. I also authorize the employer to share this information with its representatives to verify its authenticity. In case the employer finds any information on this form and / or in my resume false or misleading, or&nbsp; the employer is informed by its representatives that the information contained herein and / or in my resume, is false or misleading, I accept I the employer &rsquo;s decision to withdraw the employment offer made to me unconditionally.</span></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>Signature of the Candidate:&nbsp;
			<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
			</span>
		</p>
		<p>Name of the Candidate:&nbsp; &nbsp; &nbsp; &nbsp;
			<span style="text-decoration: underline;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			</span>
		</p>
		<p>Date:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
			</span>
		</p>
		&nbsp;
	</footer>
</body>
</html>
