client/assets/fonts
node_modules
.tmp
.sass-cache
.idea
client/bower_components
client/index.html
dist
/server/config/local.env.js
npm-debug.log
coverage
.jshintignore
.jshintrc
logs/*
.env


lambda/logs/*
lambda/.idea
lambda/node_modules
lambda/.env
