.aside-wrap: .navi-wrap: nav.navi: ul.nav.navbar-nav.navbar-left(ng-if='$ctrl.user')
  li(
    ui-sref-active="{ 'hv-active': 'main.dashboard' }"
  )
    a.hv.text-white(ui-sref='main.dashboard')
      i.fa.fa-list-alt.text-white
      span DASHBOARD

