<tr style="height:45px;">
  <td style="text-align: center;">
    <a href="https://www.facebook.com/quezx?ref=footer" style="margin-right: 5px;padding: 9px 6px 3px;background: gray;border-radius: 50%;"><img src="http://email1.headhonchos.in/email1.headhonchos.in/futuremedia/project_mgmt/img/fb.png" class="g-img"></a>
    <a href="https://www.linkedin.com/company/10483012/admin/updates?ref=footer" style="margin-right: 5px;padding: 9px 6px 3px;background: gray;border-radius: 50%;"><img src="http://email1.headhonchos.in/email1.headhonchos.in/futuremedia/project_mgmt/img/in.png" class="g-img"></a>
    <a href="https://twitter.com/QuezX_Social?ref=footer" style="margin-right: 5px;padding: 9px 6px 3px;background: gray;border-radius: 50%;"><img src="http://email1.headhonchos.in/email1.headhonchos.in/futuremedia/project_mgmt/img/t.png" class="g-img"></a>
    <a href="https://www.instagram.com/quezx_social?ref=footer" style="padding: 9px 6px 3px;background: gray;border-radius: 50%;"><img src="http://email1.headhonchos.in/email1.headhonchos.in/futuremedia/project_mgmt/img/insta.png" class="g-img"></a>
  </td>
</tr>
